#bigboxes {
	border: 2px black solid
	}

#alignboxes {
	border: 2px black solid
	}

#smallboxes {
	font-family: Impact;
	font-weight: bold;
	font-size: large;
	border: 2px black solid;
	margin-left: 1em;
	padding: 0.2em 0.8em
	}

#miniboxes {
	border: 1px black solid
	}

#smallminiboxes {
	font-family: Impact;
	font-weight: bold;
	font-size: medium;
	border: 1px black solid;
	margin-left: 1em;
	padding: 0.2em 0.8em
	}

#table_motifs {
	border-collapse: collapse;
	width: 100%;
	}

#table_motifs td, #table_motifs th {
	border: 1px solid #ddd;
	padding: 8px;
	}

#table_motifs tr:nth-child(even){
	background-color: #ffffff;
	}
	
#table_motifs tr:nth-child(odd){
	background-color: #F2F9FF;
	}

#table_motifs tr:hover {
	background-color: #ddd;
	}

#table_motifs th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0099cc;
	color: white;
	}

#struct_code td, #table_motifs th {
	border: 1px solid #ddd;
	text-align:center;
	}

#struct_code th {
	background-color: #0099cc;
	color: white;
	}
