/* Code from https://datatables.net/*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #4E7480 !important;	
    padding: 0.4em 0.8em;
    border: #eaeaea 1px solid;
    background-color: #eaeaea;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #0099cc !important;
	border-color: #FFFFFF !important;
    background-color: #FFFFFF !important;
	background:unset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
	background: unset !important;
	border: #0099cc 1px solid !important;
    background-color: #0099cc !important;
	cursor: default;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #F2F9FF; 
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #fff; 
}
table.dataTable thead th, table.dataTable thead td {
	border: 1px solid #ddd;
    border-left: none;
    background-color: #0099cc;
    color: white;
}
table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: #F2F9FF;
}
.datatables_length{
	padding-bottom: 15px;
}
table.dataTable{
	border-left:1px solid #ddd;
}

.dataTables_wrapper select,.dataTables_wrapper input 
{
	border:1px solid #ddd;
	padding:0.4em;
}

button.dt-button.active {
    background: grey !important;
}

.dt-button-collection a.buttons-columnVisibility:before,
.dt-button-collection a.buttons-columnVisibility.active span:before {
    display:block;
    position:absolute;
    top:1.2em;
    left:0;
    width:12px;
    height:12px;
    box-sizing:border-box;
}

.dt-button-collection a.buttons-columnVisibility:before {
    content:' ';
    margin-top:-6px;
    margin-left:10px;
    border:1px solid black;
    border-radius:3px;
}

.dt-button-collection a.buttons-columnVisibility.active span:before {
    content:'\2714';
    margin-top:-11px;
    margin-left:12px;
    text-align:center;
    text-shadow:1px 1px #DDD, -1px -1px #DDD, 1px -1px #DDD, -1px 1px #DDD;
}

.dt-button-collection a.buttons-columnVisibility span {
    margin-left:20px;    
}
