#first_page {
	background-color: #EBFCFC;
}

h2 {
	color : #26266C;
}

h3 {
	color : #26266C;
}

#downloader {
    list-style-type : none;
    color : #000000;
    text-decoration : none;
    padding : 4px;
}

a {
	text-decoration: none;
}

a:hover {
  color: red;
}

.scores {
	line-height:30px;
}

#regex {
	font-size: x-large;
}

#pluspetit {
	font-size: medium;
}
