#menu /* appearance of the menu*/
{
        border-bottom : 2px solid #212252;
        padding-bottom : 43px;
}
#onglets /* position and appearance of the tabs*/
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 20px calibri, serif;
        list-style-type : none;
        left : 50%;
        margin-top : 0;
        width : 430px;
        margin-left : -215px;
}

#onglets li /* appearance of the tabs when non activated*/
{
    float : left;
    height : 40px;
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;
    margin : 1px 2px 0 2px; 
    border : 1px solid #212252;
}

#onglets li.active /* appearance of the tabs when activated*/
{
    border-bottom: 1px solid #EBFCFC;
    background-color: #EBFCFC;
}

#onglets a /* to remove the link appearance of the text in the tabs*/
{
    display : block;
    color : #4e7480;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover /* appearance of the tabs when the mouse is on it*/
{
    color: #0099cc
}

